body{
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* #btn{
    background-color: #074851;
    color: #fff;
    font-size: 3em;
    padding: 5px 20px;
    text-transform: uppercase;
}

.labels{
    font-size: 2em;
    color: #fff;
    margin-top: 20px;
} */


.container{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 40px 30px;
    background-color: darkslategray;
    width: 60%;
    margin: auto;
    transform: translateY(50px);
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 4px 4px 10px #059a9c, -4px -4px 10px #059a9c;
}

.countLab{
    font-size: 5em;
}

button{
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 20px;
    font-size: 2em;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover{
    background-color: #074851;
    transform: scale(1.003);
}


@media screen and (max-width: 600px) {
    
    button{
        display: block;
        margin-top: 20px;
        font-size: 0.8em;
        padding: 10px 20px;
        width: 80%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {
    
    button{
        display: block;
        margin-top: 20px;
        font-size: 1.2em;
        padding: 10px 15px;
        width: 80%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 900px) {
    
    button{
        display: block;
        margin-top: 20px;
        font-size: 1.4em;
        padding: 15px 15px;
        width: 80%;
        margin: 20px auto;
    }
}